<h2>Sign In</h2>
<%= simple_form_for :session, url: auth_path, remote: true do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit "Sign In", class: "btn btn-primary" %>
<% end %>
