// Place all the styles related to the Pintures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome {
  text-align: center;
  margin: 10%;
  color: #F7FFFF;
}

.main {
  background-color: #F7FFFF;
}

.icon {
  padding: 10px;
  background-color: #F7FFFF;
}
  .icon:hover {
    background-color: #EEEEEE;
  }
